.btn_move-down {
  margin-top: 7%;
  margin-left: -0.1rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clr-control-label {
  min-width: 200px;
}

.flex-container__right-flex-item {
  margin-top: -3%;
}

.flex-container_item-position {
  margin-top: -2%;
}
