<div class="flex-container">
  <form clrForm #loginForm="ngForm" clrLayout="horizontal" class="flex-container_item-position">
    <clr-input-container>
      <label>Service type</label>
      <input clrInput type="text" [(ngModel)]="_voiceDataService.cdr.serviceType" name="serviceType" disabled/>
    </clr-input-container>
    <clr-input-container>
      <label>Source country code</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.sourceCountryCode"
             name="sourceCountryCode" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Source service id</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.sourceServiceId" name="sourceServiceId" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Destination country code</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.destinationCountryCode"
             name="destinationCountryCode" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Destination service id</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.destinationServiceId"
             name="destinationServiceId" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Roaming code</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.roamingCode" name="roamingCode" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Start date</label>
      <input clrInput [ngModel]="_voiceDataService.cdr.startDate"
             (ngModelChange)="_voiceDataService.cdr.startDate = $event"
             type="datetime-local" name="startDate" required/>
    </clr-input-container>
    <clr-input-container>
      <label>End date</label>
      <input clrInput [ngModel]="_voiceDataService.cdr.endDate"
             (ngModelChange)="_voiceDataService.cdr.endDate = $event"
             type="datetime-local" name="endDate" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Call duration</label>
      <input clrInput type="number" [(ngModel)]="_voiceDataService.cdr.callDuration"
             name="callDuration" required/>
    </clr-input-container>
    <clr-select-container>
      <label>Disposition</label>
      <select clrSelect [(ngModel)]="_voiceDataService.cdr.disposition" name="disposition">
        <option *ngFor="let disposition of _voiceDataService.dispositions | enumToArray"
                [ngValue]="disposition">{{disposition}}
        </option>
      </select>
    </clr-select-container>
    <button class="btn btn-primary btn_move-down" [disabled]="loginForm.form.invalid" (click)="_sendVoice()">Send Voice CDR
    </button>
    <button class="btn btn-success btn_move-down" (click)="_generateRandomVoiceCDR()">Generate random Voice CDR</button>
  </form>

  <form class="flex-container__right-flex-item">
    <clr-textarea-container>
      <label>JSON request</label>
      <textarea clrTextarea [ngModel]="_voiceDataService.cdr | json"
                rows="18" cols="35" name="request" readonly></textarea>
    </clr-textarea-container>
  </form>

  <form class="flex-container__right-flex-item">
    <clr-textarea-container>
      <label>Response</label>
      <textarea clrTextarea [ngModel]="_voiceDataService.cdrResponse | json"
                rows="18" cols="40" name="response" readonly></textarea>
    </clr-textarea-container>
  </form>
</div>
