<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="info-help"></clr-icon>
        <span class="title">CDR Sender</span>
      </a>
    </div>
    <div class="header-nav">
      <a routerLink="/sms" routerLinkActive="active" class="nav-link"><span class="nav-text">SMS</span></a>
      <a routerLink="/traffic" routerLinkActive="active" class="nav-link"><span class="nav-text">Traffic</span></a>
      <a routerLink="/call" routerLinkActive="active" class="nav-link"><span class="nav-text">Call</span></a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
