<div class="flex-container">
  <form clrForm #loginForm="ngForm" clrLayout="horizontal" class="flex-container_item-position">
    <clr-input-container>
      <label>Service type</label>
      <input clrInput type="text" [(ngModel)]="_trafficDataService.cdr.serviceType" name="serviceType" disabled/>
    </clr-input-container>
    <clr-input-container>
      <label>Source country code</label>
      <input clrInput type="number" [(ngModel)]="_trafficDataService.cdr.sourceCountryCode"
             name="sourceCountryCode" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Source service id</label>
      <input clrInput type="number" [(ngModel)]="_trafficDataService.cdr.sourceServiceId" name="sourceServiceId"
             required/>
    </clr-input-container>
    <clr-input-container>
      <label>Start date</label>
      <input clrInput [ngModel]="_trafficDataService.cdr.startDate"
             (ngModelChange)="_trafficDataService.cdr.startDate = $event"
             type="datetime-local" name="startDate" required/>
    </clr-input-container>
    <clr-input-container>
      <label>End date</label>
      <input clrInput [ngModel]="_trafficDataService.cdr.endDate"
             (ngModelChange)="_trafficDataService.cdr.endDate = $event"
             type="datetime-local" name="endDate" required/>
    </clr-input-container>
    <clr-input-container>
      <label>Roaming code</label>
      <input clrInput type="number" [(ngModel)]="_trafficDataService.cdr.roamingCode" name="roamingCode" required/>
    </clr-input-container>
    <clr-select-container>
      <label>Web server name</label>
      <select clrSelect [(ngModel)]="_trafficDataService.cdr.webServerName" name="webServerName">
        <option *ngFor="let name of _trafficDataService.webServerNames"
                [ngValue]="name">{{name}}
        </option>
      </select>
    </clr-select-container>
    <clr-input-container>
      <label>Traffic volume</label>
      <input clrInput type="number" [(ngModel)]="_trafficDataService.cdr.trafficVolume"
             name="trafficVolume" required/>
    </clr-input-container>
    <clr-select-container>
      <label>Traffic unit</label>
      <select clrSelect [(ngModel)]="_trafficDataService.cdr.trafficUnits" name="trafficUnit">
        <option *ngFor="let unit of _trafficDataService.trafficUnits | enumToArray"
                [ngValue]="unit">{{unit}}
        </option>
      </select>
    </clr-select-container>
    <clr-select-container>
      <label>Traffic quality</label>
      <select clrSelect [(ngModel)]="_trafficDataService.cdr.trafficQuality" name="trafficQuality">
        <option *ngFor="let quality of _trafficDataService.trafficQualities | enumToArray"
                [ngValue]="quality">{{quality}}
        </option>
      </select>
    </clr-select-container>
    <clr-select-container>
      <label>Disposition</label>
      <select clrSelect [(ngModel)]="_trafficDataService.cdr.disposition" name="disposition">
        <option *ngFor="let disposition of _trafficDataService.dispositions | enumToArray"
                [ngValue]="disposition">{{disposition}}
        </option>
      </select>
    </clr-select-container>
    <button class="btn btn-primary btn_move-down" [disabled]="loginForm.form.invalid" (click)="_sendTraffic()">Send Traffic
      CDR
    </button>
    <button class="btn btn-success btn_move-down" (click)="_generateRandomTrafficCDR()">Generate random Traffic CDR</button>
  </form>

  <form class="flex-container__right-flex-item">
    <clr-textarea-container>
      <label>JSON request</label>
      <textarea clrTextarea [ngModel]="_trafficDataService.cdr | json"
                rows="18" cols="35" name="request" readonly></textarea>
    </clr-textarea-container>
  </form>

  <form class="flex-container__right-flex-item">
    <clr-textarea-container>
      <label>Response</label>
      <textarea clrTextarea [ngModel]="_trafficDataService.cdrResponse | json"
                rows="18" cols="40" name="response" readonly></textarea>
    </clr-textarea-container>
  </form>
</div>
